body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: rgba(194, 155, 162, 0.301);
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px 0 0 10px;
}
h1,
h2,
h3,
p,
a {
  padding: 0;
  margin: 0;
}
.left-image {
  height: 100vh;
}

.container {
  max-width: 540px;

  max-height: max-content;
  display: flex;
  box-sizing: border-box;
}

.right-side {
  display: grid;
  padding: 20px 30px;
  background-color: white;
  border-radius: 0 10px 10px 0;
  max-height: 100vh;
}
.right-side h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: rgba(41, 38, 38, 0.589);
  padding-bottom: 20px;
  padding-top: 10px;
}
.right-side h2 {
  font-weight: bolder;
  font-size: 2em;
  line-height: 0.9;
  padding-bottom: 14px;
}
.right-side p {
  max-width: 66ch;
  font-weight: 700;
  word-break: break-all;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.479);
  font-size: 1em;
  padding-bottom: 8px;
  /* margin-right: 5px; */
}
.right-side button {
  background-color: rgba(43, 102, 25, 0.959);
  color: white;
  margin: 0 auto;
  padding: 12px 76px;
  border-radius: 6px;
  font-family: sans-serif;
  /* margin-top: 30px; */
}
.right-side h3 {
  font-size: 2em;
  color: green;
  display: flex;
  align-items: center;
}
.right-side h3 > del {
  font-size: 0.4em;
  padding-left: 20px;
}
